<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>
	<meta charset="UTF-8" />
	<title>Welcome !!!</title>
</head>

<body>
	<section>
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<!-- <li class="nav-item active"><a class="nav-link" href="#">Add
							Librarian</a></li> -->
					<li class="nav-item active"><a class="nav-link" th:href="@{/user/index}">Home</a></li>

				</ul>

			</div>
		</nav>

		<div class="container">
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<div class="card">
						<div class="card-body">
							<h4 class="text-center text-primary">Edit Librarian Data</h4>
							<form th:action="@{/update}" method="post" th:object="${lib}">
								<input type="hidden" th:value="${lib.bookCode}" name="bookCode" />

								<div class="form-group">
									<label for="">Book Name</label>
									<input type="text" class="form-control" name="bookName"
										th:value="${lib.bookName}" />
								</div>
								<div class="form-group">
									<label for="">Author</label>
									<input type="text" class="form-control" name="author"
										th:value="${lib.author}" />
								</div>
								<div class="form-group">
									<label for="">Email</label>
									<input type="text" class="form-control" name="email"
										th:value="${lib.email}" />
								</div>
								
								<div class="form-group">
									<label for="">Data Added</label>
									<input type="text" class="form-control" name="dataadded" th:value="${lib.dataadded}" />
								</div>

								<button type="submit" class="btn btn-primary btn-block">Submit</button>

							</form>
						</div>
					</div>
				</div>
			</div>
		</div>


	</section>
</body>

</html>